body {
	font-family: /*helvetica, tahoma, arial, clean, */ "Times New Roman", sans-serif;
	/*background-color: #e8e8e8; */
}

a {
	text-decoration: none;
	color: firebrick;
}

a:hover {
	color: firebrick;
	text-decoration: underline;
}

a.invisible {
	color: #000;
	cursor: text;	/* To make it blend with the text */
}

a.invisible :hover {
	
}

#showhide {
	text-align: right;
	cursor: pointer;
	font-family: Verdana, Tahoma, sans-serif;
	font-size: 70%;
	text-transform: uppercase;
}

/*h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	text-indent: 0;
}

h1 {
	margin-bottom: .5em;
	font-size: 24px;
}*/

h2 {
	font-weight: normal;
}

p {
	margin-bottom: 12px;
}

blockquote {
	font-style: italic;
	text-align: justify;
	font-size: 90%;
}


span.title {
	font-weight: bold;
}

span.data {
	font-family: monospace;
	font-size: .85em;
}

ol.post-list {
}

	.post-list li {
		list-style-type: lower-hexadecimal;
		font-family: monospace;
	}

hr {
        border: 0;
	border-bottom: 1px dotted black;
	/* margin: 1em 0em; */
}

table#head {
	width: 100%;
	border-bottom: 1px dotted black;
}

	#head td#ll {
		text-align: right
	}

ul {
	list-style-type: circle;
}

.footer {
	
}
	#banners {
		text-align: right;
	}

#fn1, #fn2, #fn3, #fn4, #fn5, #fn6, #fn7, #fn8, #fn9 {
	font-size: 85%;
}

div#content-wrapper {
        text-align: center;
	/*margin: 0 auto;*/
	padding: 1em 5em;
	background-color: #fff;
        width: 50em;
}

div#content {
	text-align: justify;
}

code, tt {
	color: teal;
}

pre {
	white-space: pre-wrap;
}
        pre code {
	        color: black;
	}

div.highlight {
	margin-left: 2em;
}
pre.terminal, div.highlight {
	background-color: /* #f0f0f0; #f7de9c; */ #ffe8ab;
	padding: 0.5em;
}

        .highlight pre {
	        margin: 0;
	}

p.footnote {
	margin: 0
}
