body {
	font-family: /*helvetica, tahoma, arial, clean, */ "Times New Roman", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	text-indent: 0;
}

h1 {
	margin-bottom: .5em;
	font-size: 24px;
}

p {
	margin-bottom: 12px;
}

blockquote {
	font-style: italic;
	text-align: justify;
	font-size: 90%;
}


span.title {
	font-weight: bold;
}

span.date {
	font-family: monospace;
}

hr {
	border: 1px double #ccc;
	border-collapse: collapse;
	margin: 1em 0em;
}

table#head {
	width: 100%;
}

	#head td#ll {
		text-align: right
	}

ul {
	list-style-type: circle;
}

.footer {
	
}
	#banners {
		text-align: right;
	}

#fn1, #fn2, #fn3, #fn4, #fn5, #fn6, #fn7, #fn8, #fn9 {
	font-size: 85%;
}

code, tt {
	color: navy;
}

pre.terminal {
	border: 1px solid silver;
	background-color: #f4f4f4;
	padding: 0.5em;
}
