// Your custom SCSS should be written here...

$code-pale-bg: #ffe8ab;

pre {
  white-space: pre-wrap;

  code {
    color: black;
    font-family: monospace;
  }

  &.terminal {
    background-color: $code-pale-bg;
    padding: 0.5em;
    font-family: monospace;
  }
}

code {
  font-family: monospace;
}

div {
  .highlight {
    background-color: $code-pale-bg;
    padding: 0.5em;
    font-family: monospace;
    margin-bottom: 13px;
  }
}

p {
  text-align: justify
}

ul#post-list {
  font-family: monospace;

  li {
    display: block;
  }
  span {
    &.title { font-weight: bold; }
    &.wc { @include font-size($med); }
    &.wc:before { content: "(" }
    &.wc:after { content: ")" }
  }
}

p#fn1 {
  border-top: 1px inset $horizontal-rule-color;
  padding-top: 13px;
}
sup.footnote {
  &:before { content: "[" }
  &:after { content: "]" }
}
