// The latest settings can be found here:
// https://github.com/zurb/bower-foundation/blob/master/scss/foundation/_settings.scss

$row-width: 100%;
//$primary-color: #2e3784;
$primary-color: #0086B3;

p {
  text-align: justify;
}

ul#post-list {
  list-style-type: none;
  margin-left: 0;

  span.date {
    font-family: monospace;
  }
}

$code-pale-bg: #ffe8ab;

pre {
  white-space: pre-wrap;

  code {
    color: #000;
    font-family: monospace;
  }
  &.terminal {
    background-color: $code-pale-bg;
    padding: 0.5em;
    font-family: monospace;
  }
}
code {
  font-family: monospace;
}
div {
  .highlight {
    background-color: $code-pale-bg;
    padding: 0.5em;
    font-family: monospace;
    margin-bottom: 13px;
  }
}
$topbar-margin-bottom: 10px;
$topbar-height: 28px;
/*
$topbar-bg: #e8e8e8;
$topbar-link-color: #000;
$topbar-link-color-hover: #000;
$topbar-link-color-active: #000;
$topbar-link-weight: normal;
$topbar-link-font-size: rem-calc(13);
$topbar-link-hover-lightness: -10%; // Darken by 10%
$topbar-link-bg-hover: scale-color(#e8e8e8, $lightness: -14%); //#272727  ;
$topbar-link-bg-active: $primary-color;
$topbar-link-bg-active-hover: scale-color($primary-color, $lightness: -14%);
*/

@import "foundation/functions";
@import "foundation/components/side-nav";
@import "foundation/components/top-bar";
