// Screen
// ======

@import "grids";
@import "normalize";
@import "compass";
@import "susy";

$susy: (
	global-box-sizing: border-box,
	use-custom: (rem: true),
	columns: 12,
	gutter-position: inside,
	math: fluid
);

@include border-box-sizing;


$font-color: #272822;
$bg-color: #fff;
$link-color: #1569C7;
$nav-text: #ddd;
$nav-bg: #1569C7;
$footer-bg: #e8e8e8;
$muted-text: #555;

//$font-color: #ddd;
//$bg-color: #222;
//$link-color: #F0AD4E;

/**
 * Site layout with sticky footer
 */
html, body {
	height: 100%;
	color: $font-color;
	background-color: $bg-color;
}


/* must be same height as the footer */
#footer {
	position: relative;
	margin-top: -50px; /* negative value of footer height */
	//height: 50px;
	clear:both;
	background-color: $footer-bg;
	//background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.35);
	padding-top: 20px;
	font-size: 12px;
}

/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;
}


#wrap {
	min-height: 100%;
}

/* Index page */
#index-left {
	@include span(8);
}

#index-right {
	@include span(4);

	.index-tab {
//	    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.35);
		padding: gutter();
		margin: gutter();
	}
}

#main {
	@include span(7);
	overflow:auto;
	padding-bottom: 50px;
}

#fixed-pane {
	@include span(3 last);
}

/* Blog page layout */
#blog {
	@include container(960px);
	//background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.35);

	#blogroll {
		@include span(12 last);
	}


	#bloglist {
	    @include span(12 last);

	    ul {
		padding-left: gutter();
		list-style-type: none;

		span.date {
		    font-family: monospace;
		    color: $muted-text;
		}
	    }
	}

	#post {
		@include span(12 last);
	}
}

#about {
	@include span(6);

	p {
		text-align: justify;
	}
}

ul.inlist, ol.inlist {
	list-style-type: none;
	li {
		display: inline-block;
	}
}


p {
	line-height: 1.4em;
	.footnote { margin-bottom: 0; }
	#fn1 { border-top: 1px solid #e6e6e6; margin-top: 30px; }
}

/* #E6DB74 */
a {
	color: $link-color;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
		color: $link-color;
	}
	&:visited {
		color: $link-color;
	}
}

pre {
	white-space: pre-wrap;
	background-color: rgba(255, 232, 171, 0.49);
	// border: 1px solid #222;
	padding: 10px;

	border-radius: 3px;

	.terminal {
		background-color: #ffe8ab;
		padding: 0.5em;
		font-family: monospace;
	}

	code {
		color: #000;
		font-family: monospace;
		font-weight: normal;
	}
}

code {
	font-family: monospace;
	font-size: .8rem;
	color: #555;
}

/* div .highlight { background-color: #ffe8ab; padding: 0.5em; font-family: monospace; margin-bottom: 13px; } */


.tex sub, .latex sub, .latex sup { text-transform: uppercase; }

.tex sub, .latex sub { vertical-align: 0.0ex; margin-left: -0.1667em; margin-right: -0.125em; }

.tex, .latex, .tex sub, .latex sub { font-size: 1em; }

.latex sup { font-size: 0.85em; vertical-align: -0.2em; margin-left: -0.36em; margin-right: -0.15em; }

h1,h2,h3,h4,h5,h6 {
    font-family: sans;
}

h1 {
    background-color: #e8e8e8;
    text-align: center;
    padding: 3px 0;
    color: #15317e;
}

h2.post-title {
    background-color: #e8e8e8;
    text-align: center;
    padding: 3px 0;
    margin-bottom: 0;
    a {
	color: #15317e;
	//color: $font-color !important;
	text-decoration: none;

	&:hover {
	    text-decoration: none;
	}
    }
}

p.post-meta {
    font-family: sans;
    font-size: .9em;
    color: #aaa;
    /* text-align: right; */
    margin: 0;
    span.date {
	color: $muted-text;
    }
}

/**
 * Top navigation bar
 */
#navbar {
	background-color: $nav-bg;
	color: $nav-text;
	padding: 2px 0;
	font-size: 12px;

	ul {
		list-style: none outside none !important;
		display: inline !important;
		margin: 0;
		padding: 0 0 0 10px;

		li {
			display: inline;
			font-family: "Lucida Console", "Courier New", monospace;
			margin: 0;
			padding: 0;
			padding-left: 5px;

			&.active a {
				color: #f8f8f2;
			}
		}
	}

	a {
		font-weight: bold;
		color: $nav-text;
		text-decoration: none;
	}
}


/**
 * Footer
 */
.site-footer {
	//@include container(960px);
	@include container(960px);
	//background-color: $footer-bg;
	color: $muted-text;
	height: 30px;

	div.left {
		@include span(3);
	}

	div.center {
		@include span(6 center);
		text-align: center;
	}

	div.right {
		@include span(3 last);
		text-align: right;
	}
}

/**
 * Utility classes
 */
span.inline-title {
	font-weight: bold;
	padding-right: gutter();
}
