<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
{% include head.html %}

<style type="text/css">
html, body {height: 100%;}

#wrap {min-height: 100%;}

#main {
	overflow:auto;
	padding-bottom: 150px;
}
/* must be same height as the footer */
#footer {
	position: relative;
	margin-top: -150px; /* negative value of footer height */
	height: 100px;
	clear:both;
}

/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;
}
</style>
</head>
<body>


<div id="wrap">
<nav class="uk-navbar uk-margin-large-bottom">
	<div class="uk-navbar-flip">
		<ul class="uk-navbar-nav">
			<li><a href="#" id="sha1"></a>
			<script type="text/javascript">
				d3.json('https://api.github.com/repos/laumann/laumann.github.com/branches/master', function(err, data) {
					d3.select("#sha1")
					.attr("href", data._links.html)
					.style("font-family", "monospace")
					.text(data.commit.sha);
				});
			</script>
			</li>
		</ul>
	</div>
	<ul class="uk-navbar-nav">
		<li><a href="/"><i class="uk-icon-home"></i></a></li>
		<li {% if page.active == 'post' %}class="uk-active"{% endif %}><a href="/blog.html">Blog</a></li>
		<li {% if page.active == 'about' %}class="uk-active"{% endif %}><a href="/about.html">About</a></li>
		<li {% if page.active == 'reading' %}class="uk-active"{% endif %}><a href="/reading.html">Reading</a></li>
	</ul>
</nav>

<div class="uk-container uk-container-center">
<div class="row uk-grid">
	{{ content }}
	<!--
	<a href="http://vim.org/"><img src="/img/powered-by-vim.png" style="height:31px" alt="Powered by vim!" /></a>
	-->
</div>
</div>
</div>
<div id="footer" style="padding-top: 50px;">
{% include footer.html %}
</div>

</body>
</html>
