<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>laumann.github.com{% if page.title %}: {{ page.title }}{% endif %}</title>

	<!-- syntax highlighting CSS -->
	<link rel="stylesheet" href="/css/app.css" type="text/css" />
	<link rel="stylesheet" href="/css/syntax.css" type="text/css" />
	<link rel="stylesheet" href="/css/foundation-icons.css" type="text/css" />
	
	<!--script type="text/javascript"
	src="/js/libs/modernizr-2.6.2.min.js"></script -->
	<script type="text/javascript" src="/js/vendor/custom.modernizr.js"></script>
	<script type="text/javascript" src="/js/jquery.js"></script>
	<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
</head>
<body>

<div class="contain-to-grid">
	<nav class="top-bar" data-topbar>

	<ul class="title-area">
		<li class="name">
		<h1 style="width: 30px; text-align: center"><i class="fi-battery-half" style="color: #fff; text-shadow: 0px 0px 4px #000"></i></h1>
		</li>
	</ul>
	<section class="top-bar-section">
		<ul class="right">
			<li><a href="#" id="sha1"></a>
			<script type="text/javascript">
				d3.json('https://api.github.com/repos/laumann/laumann.github.com/branches/master', function(err, data) {
					d3.select("#sha1")
					.attr("href", data._links.html)
					.style("font-family", "monospace")
					.text(data.commit.sha);
				});
			</script>
			</li>
		</ul>
		<ul class="left">
			<li class="divider"></li>
			<li><a href="/index.html">home</a></li>
			<li class="divider"></li>
			<li><a href="/about.html">about</a></li>
			<li class="divider"></li>
			<li><a href="/cbwls.html">cbwls</a></li>
			<li class="divider"></li>
			<li><a href="/ng.html">ng</a></li>
			<li class="divider"></li>
			<li><a href="/reading.html">reading</a></li>
			<li class="divider"></li>
		</ul>
	</section>
</nav>
</div>

<div class="row">
	<div class="small-1 columns">
		<div class="panel">
		<i class="fi-pricetag-multiple large
			left" style="font-size: 36px; margin-right: .5rem"></i>
		One the side line out here, I aim to keep quick links to sites I regularly visit.
		</div>
		<div class="panel" style="text-align: center">
			<i class="fi-power" style="font-size: 48px"></i>
		</div>
	</div>
	<div class="small-9 columns">
		{{ content }}
	</div>
	<div class="small-2 columns">
		<ul class="side-nav">
			<li>Current reading</li>
			<li class="divider"></li>
			<li>
		<div class="row">
			<div class="small-7 columns">
				<a href="http://www.billbryson.co.uk/index.php/a-short-history-of-nearly-everything/#uk">A Short History of nearly Everything</a> (Bill Bryson)
			</div>
			<div class="small-5 columns">
				<div class="progress"><span class="meter" style="width: 65%"></span></div>
			</div>

		</div>
		</li>
		<li>
		<div class="row">
			<div class="small-7 columns">
				<a href="http://sacred-economics.com/">Sacred Economics</a> (Charles Eisenstein)
			</div>
			<div class="small-5 columns">
				<div class="progress"><span class="meter" style="width: 10%"></span></div>
			</div>

		</div>
		</li>
		<li>
		<div class="row">
			<div class="small-7 columns">
				<a href="http://www.thepowerofintroverts.com/">Quiet</a> (Susan Cain)
			</div>
			<div class="small-5 columns">
				<div class="progress"><span class="meter" style="width: 48.33%"></span></div>
			</div>

		</div>
		</li>
		<li>
		<div class="row">
			<div class="small-7 columns">
				<a href="https://en.wikipedia.org/wiki/The_Hobbit">The Hobbit</a> (JRR Tolkien)
			</div>
			<div class="small-5 columns">
				<div class="progress"><span class="meter" style="width: 39%"></span></div>
			</div>

		</div>
		</li>
		<li>
		<div class="row">
			<div class="small-7 columns">
				<a href="http://www.markrblake.com/markrblake/index.htm">Pigs Might Fly</a> (Mark Blake)
			</div>
			<div class="small-5 columns">
				<div class="progress"><span class="meter" style="width: 5%"></span></div>
			</div>

		</div>
		</li>
			<li class="divider"></li>
			<li class="right">
				<a href="http://vim.org/"><img src="/img/powered-by-vim.png" style="height:31px" alt="Powered by vim!" /></a>
				</li>
		</ul>
	</div>
</div>

<script type="text/javascript" src="/js/foundation.min.js"></script>
<script type="text/javascript" src="/js/app.js"></script>

</body>
</html>
