---
layout: default
---


<div class="row">
	<div class="nine columns">
		<h4><i class="icon-book"></i> {{ page.title }}</h4>
	</div>

	<div class="three columns" style="text-align: right">
	{% if page.next.url %} 
	<div class="small rounded default btn icon-left icon-left-bold"><a href="{{page.next.url}}"><code>next</code></a></div>
	{% endif %} 
	{% if page.previous.url %}
	<div class="small rounded default btn icon-right icon-right-bold"><a href="{{page.previous.url}}"><code>prev</code></a></div>
	<!-- <a href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}"><i class="xlarge icon-right-bold"></i></a> -->
	{% endif %}
</div>

</div>


{{ content }}

